# Ambiente Virtual (uv / virtualenv)
.venv/
__pycache__/
*.pyc

# Dados Brutos e Processados (Gerenciados estritamente pelo DVC)
data/raw/
data/interim/
data/processed/

# Configurações locais e credenciais sensíveis
.env
.ipynb_checkpoints/

# Ignorar arquivos do MLFlow
mlruns/
mlflow.db

# Modelos
models/